<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:head></h:head>
	
	<h:body>
		<h:outputStylesheet name="css/layout_admin.css"  />
		<div id="header">
			<ui:insert name="header">
				<!-- <ui:include src="/pages/tiles/header.xhtml" /> -->
			</ui:insert>
		</div>
		<div id="menu">
			<ui:insert name="menu">
				<!--  <ui:include src="/pages/tiles/menu.xhtml" /> -->
			</ui:insert>
		</div>
		<div class="content">
			<ui:insert name="content">
				<!-- <ui:include src="/pages/tiles/content.xhtml" /> -->
			</ui:insert>
		</div>
		<div class="footer">
			<ui:insert name="footer">
				<!-- <ui:include src="/pages/tiles/footer.xhtml" /> -->
			</ui:insert>
		</div>
	</h:body>

</html>


