<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:head></h:head>
	
	<h:body>
	
		<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css"  />
		<h:outputStylesheet name="css/layout_client.css"  />
		<h:outputStylesheet name="css/fonts.css"  />
		<h:outputStylesheet name="css/forms.css"  />
		<h:outputScript library="js" name="news-management.js" />
		<h:outputScript library="jquery" name="jquery-1.11.3.min.js" />
		<!-- <h:outputScript library="js" name="moment-with-locales.js" /> -->
		
		<div class="header">
			<ui:insert name="header">
				<ui:include src="/pages/tiles/header.xhtml" />
			</ui:insert>
		</div>
		<div class="content_full_width">
			<ui:insert name="content"></ui:insert>
		</div>
		<div class="footer">
			<ui:insert name="footer">
				<ui:include src="/pages/tiles/footer.xhtml" />
			</ui:insert>
		</div>
	</h:body>

</html>