<!--  <link rel="stylesheet"
	href="<c:url value='/resources/bootstrap/css/bootstrap.min.css' /> " />
<link rel="stylesheet" type="text/css"
	href="<c:url value='/resources/css/layout.css' />" /> -->
	


<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core">
		
		<div class="headerline">
			<h1>
				<h:outputText value="#{locale['headerline']}" />
			</h1>
		</div>
		<!-- <div class="languagebox">
			<security:authorize access="hasRole('ROLE_ADMIN')">
				<div class="row">
					<span class="nopadding text-right pull-right">
						<a href="<c:url value="/logout" />" > <spring:message code="locale.logout" /> </a>
					</span>
					<span class="col-xs-8 text-right pull-right">
						<spring:message code="locale.hello" />, <security:authentication property="principal.username" />
					</span>
				</div>
			</security:authorize>
			<div class="row text-right">
				<a href="?lang=en"> <u>EN</u> </a>
				<a href="?lang=ru"> <u>RU</u> </a>
			</div> 
	
</div> -->
		
</html>
