<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core">
		
	<div class="row">
		<h:link value="menu" outcome="/home.xhtml" />
		<a href="/faces/home.xhtml"><h:outputText value="#{locale['newslist_menu_href']}" /></a>
	</div>
	<div class="row">
		<a href="/news-form"><h:outputText value="#{locale['addnews']}" /></a>
	</div>
	<div class="row">
		<a href="/authors"><h:outputText value="#{locale['add/update_author']}" /></a>
	</div>
	<div class="row">
		<a href="/tags"><h:outputText value="#{locale['add/update_tag']}" /></a>
	</div>
</html>