#author {
	height: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#tag {
	height: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#comment {
	width: 60%;
	height: 15%;
	float: left;
	overflow-y: auto;
	margin: 0px;
	padding: 0px;
}

#commenttext {
	width: 100%;
	height: 60%;
}

#comment input[type="submit"] {
	margin-top: 10px;
}

#news {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#news textarea#fullText {
	height: 150px;
}

#news textarea#shortText {
	height: 50px;
}

#searchCriteria {
	width: 100%;
	height: 10%;
}

#loginform {
	float: left;
	width: 30%;
	height: 40%;
	box-sizing: content-box;
}