#author {
	height: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#tag {
	height: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#comment {
	height: 15%;
	overflow-y: auto;
	margin: 0px;
	padding: 0px;
}

#commenttext {
	width: 100%;
	height: 60%;
}

#comment input[type="submit"] {
	margin-top: 10px;
}

#news {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0px;
}

#news textarea#fullText {
	height: 150px;
}

#news textarea#shortText {
	height: 50px;
}

#searchCriteria {
	width: 100%;
	height: 10%;
}

#loginform {
	position: absolute;
	left: 35%;
	top: 40%;
	float: left;
	width: 30%;
	max-height: 40%;
	outline: 1px solid grey;
	outline-offset: 10px;
	margin: 0;
}