@CHARSET "UTF-8";

body, html {
	width: 98%;
	height: 98%; 
	margin: 1%;
	margin-top: 0.5%;
}

body {
	outline: solid black 3px;
	overflow-y: hidden;
}

.header {
	width: 100%;
	height: 10%;
	float: left;
	outline: solid black 3px;
}

.menu {
	height: 85%;
	width: 15%;
	float: left;
	margin-left: 5%;
	border-right: 3px solid black;
}

.content {
	height: 85%;
	width: 70%;
	float: right;
	margin-right: 5%;
}

.content_full_width {
	height: 85%;
	width: 100%;
	float: left;
}


.footer {
	height: 5%;
	width: 100%;
	float: left;
	text-align: center;
	outline: solid black 3px;
}

.headerline {
	height: 100%;
	width: 60%;
	float: left;
	margin-left: 5%;
}

.languagebox {
	height: 100%;
	width: 30%;
	float: left;
	margin-right: 5%;
}

.newslistbox {
	width: 100%;
	height: 80%;
	float: left;
	overflow-y: auto;
	margin-top: 5%;
}

.fonttitle {
	font-size: 120%;
	color: red;
	font-weight: 700;
}

.pagination {
	margin: 5px 0 5px 0;
}

.pagination a {
	margin: 0px 5px 0px 5px;
}

.pagination-div {
	width: 100%;
	max-height: 7%;
	float: left;
	outline-offset: 2px;
	outline: 1px solid grey;
	text-align: center;
	background-color: #DCDCDC;
}

.newsbox {
	width: 100%;
	height: 40%;
	overflow-y: auto;
	overflow-x: hidden;
}

.comment {
	background-color: #DCDCDC;
}

.comments {
	padding-left: 0px;
	height: 30%;
	overflow-y: auto;
}

.error {
	color: red;
	float: left;
	margin-left: 10px;
}

.searchbox {
	width: 100%;
	height: 10%;
}

.listelement {
	width: 100%;
	height: 18%;
}

.listelement input[type="checkbox"] {
	width: auto;
	float:left;
}

.row {
	margin: 0px;
	margin-top: 10px;
}

.notopmargin {
	margin-top: 0px;
}

.nopadding {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.deleteicon {
	height: 20px;
}

.hide {
	display: none;
}

.tagList {
	width: 100%;
	left: 0;
	float: left;
	overflow-y: auto;
	position: absolute;
	z-index: 1000;
	background: white;
	outline: solid grey 1px;
	outline-offset: -1px;
}

.criteriaLine {
	height: 8%;
	width: 100%;
	margin-top: 2%;
}

.error-div {
	position: absolute;
	top: 12%;
	left: 50%;
	width: 20%;
	height: 20%;
	outline: 1px solid grey;
	outline-offset: 5px;
	float: left;
	margin-top: 10px;
}






